@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap");

:root {
  --blue-light: #86a4f0;
  --dark: #FFC900;
  --light: #1A5F7A;
  --black: #1e1926;
  --yellow: #1A5F7A;
  --gradient: linear-gradient(90deg, var(--blue-light), var(--dark));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  outline: none;
  border: none;
}

*::selection {
  background: var(--dark);
  color: var(--yellow);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #f9f9f9;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--dark);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .logo {
  font-size: 2rem;
  color: var(--light);
}

header .logo span {
  color: var(--yellow);
}

header .navbar a {
  font-size: 1.7rem;
  margin-left: 2rem;
  color: var(--light);
}

header .navbar a:hover {
  color: var(--yellow);
}

header input {
  display: none;
}

header label {
  font-size: 3rem;
  color: var(--dark);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.navbar .login {
  background: #fff;
  margin: auto;
  padding: auto;
  color: #0047b4;
  margin-left: 2rem;
}
.navbar .login:hover {
  color: #86a4f0;
}

section {
  min-height: 100vh;
  padding: 0 9%;
  padding-top: 7.5rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-position: center;
}

.home .image img {
  width: 100vh;
}

.home .content h3 {
  font-size: 4rem;
  color: rgb(29, 12, 90);
  text-transform: uppercase;
}

.home .content h3 span {
  color: var(--dark);
  text-transform: uppercase;
}

.home .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  border-radius: 5rem;
  background: var(--dark);
  font-size: 1.7rem;
  color: var(--light);
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.btn:hover {
  transform: scale(1.1);
}

.heading {
  text-align: center;
  background: var(--dark);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding: 1rem;
}

.features .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.features .box-container .box {
  flex: 1 1 30rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: 0.2s linear;
}

.features .box-container .box img {
  height: 15rem;
}

.features .box-container .box p {
  font-size: 1.3rem;
  color: #666;
  padding: 1rem 0;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 4rem;
  background: #c4d2f5;
}

.contact .image {
  flex: 1 1 40rem;
}

.contact .image img {
  width: 100%;
  padding: 2rem;
}

.contact form {
  flex: 1 1 40rem;
  padding: 2rem 3rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: #fff;
}

.contact form .heading {
  text-align: left;
  padding: 0;
  padding-bottom: 2rem;
}

.contact form .inputBox {
  position: relative;
}

.contact form .inputBox input,
.contact form .inputBox select,
.contact form .inputBox textarea {
  width: 100%;
  background: none;
  color: #666;
  margin: 1.5rem 0;
  padding: 0.5rem 0;
  font-size: 1.7rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  text-transform: none;
}

.contact form .inputBox textarea {
  resize: none;
  height: 13rem;
}

.contact form .inputBox label {
  position: absolute;
  top: 1.7rem;
  left: 0;
  font-size: 1.7rem;
  color: #666;
}

.contact form .inputBox input:focus ~ label,
.contact form .inputBox input:valid ~ label,
.contact form .inputBox textarea:focus ~ label,
.contact form .inputBox textarea:valid ~ label {
  top: -0.5rem;
  font-size: 1.5rem;
  color: var(--blue-light);
}

#myInput {
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  margin-top: 95px;
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

footer .footer-distributed {
  margin-top: auto;
}

.footer-distributed {
  background-color: var(--black);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: 16px;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed .footer-right a.insta:hover {
  background-color: rgb(193, 53, 132);
}

.footer-distributed .footer-right a.twitter:hover {
  background-color: #1da1f2;
}

.footer-distributed .footer-right a.linkedin:hover {
  background-color: #0077b5;
}

.footer-distributed .footer-right a.github:hover {
  background-color: #6e5494;
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  section {
    padding: 0 3%;
    padding-top: 7.5rem;
  }
}

@media (max-width: 768px) {
  header label {
    visibility: visible;
    opacity: 1;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 1rem 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: 0.2s linear;
  }
  header .navbar a {
    display: block;
    margin: 2rem 0;
    font-size: 2rem;
  }
  header input:checked ~ .navbar {
    transform: scaleY(1);
    opacity: 1;
  }
  header input:checked ~ label::before {
    content: "\f00d";
  }
  .home {
    flex-flow: column-reverse;
  }
  .home .image img {
    width: 100%;
  }
  .home .content h3 {
    font-size: 3.6rem;
  }
  .home .content p {
    font-size: 1.5rem;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
